INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.*
configure
.deps/
.libs/
*.la
*.lo
*.pc
*.o
aim-daemon
libtool
m4/
stamp-h1
*.valid
*anjuta*
aim-indicator
*.gir
*.typelib
aim-enum-types.c
aim-enum-types.h
aim-marshalers.c
aim-marshalers.h
*.moc
.dirstamp
Makefile.in.in
POTFILES
stamp-it
agents/gnome-shell-extension/metadata.json
*.gmo
data/icons/22x22/
data/icons/24x24/
data/icons/32x32/
