Source: aim
Section: utils
Priority: optional
Maintainer: Hodong Kim <hodong@cogno.org>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libgirepository1.0-dev,
               libglib2.0-dev,
               pkg-config,
               intltool,
               libgtk-3-dev,
               libgtk-3-bin,
               libgtk2.0-dev,
               libhangul-dev,
               libqt4-dev,
               qtbase5-dev,
               qtbase5-private-dev,
               libappindicator3-dev,
               librsvg2-bin,
               fonts-noto-cjk
Standards-Version: 3.9.6
Homepage: https://github.com/cogniti/aim

Package: aim
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: aim-gtk, aim-qt, im-config, dconf-editor
Suggests: aim-jeongeum, gnome-tweak-tool, fonts-noto-cjk
Description: Input Method Framework
 AIM is an input method framework, which provides
 .
  * Input Method Server including XIM
  * English engine module embedded
  * Indicators for GNOME Shell, Unity, KDE, GNOME panel

Package: aim-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         aim (= ${binary:Version}),
         libgirepository1.0-dev,
         libx11-dev
Description: Input Method Framework (development files)
 AIM is a multilingual input method framework, which provides
 .
  * Input Method Server including XIM
  * English engine module embedded
  * Indicators for GNOME Shell, Unity, KDE, GNOME panel
 .
 This package contains the development files.

Package: aim-jeongeum
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, aim, x11-xserver-utils
Recommends: im-config, dconf-editor
Suggests: gnome-tweak-tool, fonts-noto-cjk, fonts-nanum
Description: Korean language engine module for AIM
 aim-jeongeum is a Korean language engine module based on libhangul.

Package: aim-gtk
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, aim
Recommends: dconf-editor
Description: GTK+ IM modules for AIM
 aim-gtk provides GTK+2, GTK+3 IM modules for AIM

Package: aim-qt
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, aim
Description: Qt IM modules for AIM
 aim-qt provides Qt4, Qt5 IM modules for AIM
